<div class="welcome">
   <p>¡Bienvenido {{user.first_name}}, {{user.last_name}}! Tu rol es: {{user.rol}}</p>
   <button><a href="/api/sessions/logout">Cerrar sesión</a></button> 
</div><br><br>

<div>

{{#if (eq user.rol 'admin')}}
       <a href="/realtimeproducts"><button>Modificar Productos</button></a>
       <a href="/users"><button>Mostrar Usuarios</button></a>

       <div class="inactiveUser">
        <h2>Usuarios Inactivos</h2>
        <ul>
            {{#each activity}}
                <li>
                    ({{this.rol}}) {{this.first_name}} {{this.last_name}} ({{this.email}})
                    <form action="/admin/deleteUser/{{this._id}}" method="POST" style="display:inline;">
                        <button type="submit" class="m-btn">Eliminar</button>
                    </form>
                </li>
            {{/each}}
        </ul>
       </div>
        
   {{else if (eq user.rol 'user')}}
       <a href="/"><button>Ver Productos</button></a>
       <a href="/chat"><button>Ingresar al Chat</button></a>
       <a href="/carrito"><button>Ver Productos en Carrito</button></a>
       <a href="/{{user.id}}/documents"><button>Suscribirse a Usuario Premium</button></a>

       {{else if (eq user.rol 'premium')}}
       <a href="/premium/products"><button>Agregar Productos</button></a>
       <a href="/products"><button>Ver Productos</button></a>
       <a href="/chat"><button>Ingresar al Chat</button></a>
       <a href="/carrito"><button>Ver Productos en Carrito</button></a><br><br>
       <a href="/premium/{{user.id}}"><button>Revertir a User</button></a>
{{/if}}

</div>
