<br><br><br>
<div class="addp-prem">
<h1 class="add">Agregar producto</h1>
  <form action="/premium/add" method="post">
    <label for="title"><p>Título</p></label>
    <input type="text" required id="title" name="title">

    <label for="description"><p>Descripción</p></label>
    <input type="text" required id="description" name="description">

    <label for="price"><p>Precio</p></label>
    <input type="price" required id="price" name="price">

    <label for="thumbnail"><p>Imágen</p></label>
    <input type="text"  name="thumbnail" id="thumbnail" value="Sin imágen" readonly>
    
    <label for="code"><p>Código Personal</p></label>
    <input type="text" required id="code" name="code">

    <label for="category"><p>Categoría</p></label>
    <input type="text" required id="category" name="category">

    <label for="stock"><p>Stock</p></label>
    <input type="number" required id="stock" name="stock">

    <button type="submit">Enviar producto</button>
</form>
</div>


<p class="listd">Listado de Productos</h2>
<div id="listProd">
    {{#each productos}}
    <div class="prods">
        <h2>{{this.title}}</h2>
        <p>REF: {{this.code}} </p>
        <h4>{{this.description}}</h4>
        <p>Stock: {{this.stock}}</p>
        <form action="/premium/delete/{{this.id}}" method="post">
            <button type="submit">Eliminar</button>
        </form>
    </div>
    {{/each}}
</div>